/* Estilo para los botones dentro de las mini tarjetas del banner */
.add-cart-mini {
    margin-top: 8px;
    background-color: #0064d2;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
}

.add-cart-mini:hover {
    background-color: #004b9b;
}